:root {
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --accent-color: #0f6fdd;
  --light-gray: #ebebeb;
  --medium-gray: #545454;
  --text-dark: #111111;
  --blue-text: #0f7fff
}

.product-list-wrapper,
.order-summary-wrapper {
  color: var(--nav-link);
}

.divider-line {
  height: 1px;
  background-color: var(--light-gray);
  width: 100%;
}

.product-divider {
  height: 0.5px;
  background-color: var(--light-gray);
  width: 100%;
  margin-top: 32px;
}

.shopping-cart-section {
  padding: 130px 0 0 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 101px;
}

@media only screen and (max-width: 420px) {
  .shopping-cart-section {
    flex-direction: column;
    gap: 40px;
    padding: 52px 0;
  }
}

.section-title h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
}

.product {
  display: flex;
  align-items: center;
  padding-top: 16px;
  margin-top: 40px;
  padding-bottom: 32px;
}

.product-img {
  width: 90px;
  height: 90px;
  margin-right: 23px;
}

.product-content {
  display: flex;
}

@media only screen and (max-width: 420px) {
  .product-content {
    flex-direction: column;
  }
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 191px;
}

.product-second-line {
  display: flex;
  gap: 24px;
  align-items: center;
}

@media only screen and (max-width: 420px) {
  .product-second-line {
    gap: 4px;
  }
}

.product-info h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  max-width: 193px;
}

.product-info p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.product-quantity {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--blue-text);
  border-radius: 20px;
}

.product-quantity button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: var(--primary-color);
  width: 24px;
}

.product-quantity input {
  width: 40px;
  height: 30px;
  text-align: center;
  font-size: 16px;
  border: 1px solid var(--blue-text);
  border-radius: 5px;
  background-color: var(--blue-text);
}

.product-price {
  min-width: 105px;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
}

.order-summary-wrapper {
  height: fit-content;
  border: 1px solid var(--accent-color);
  border-radius: 10px;
  padding: 56px 64px;
  position: sticky;
  top: 112px;
  background-color: var(--secondary-color);
}

@media only screen and (max-width: 420px) {
  .order-summary-wrapper {
    padding: 56px 60px;
    margin-inline: 16px;
  }
}

@media only screen and (max-width: 420px) {
  .order-summary-wrapper {
    padding: 56px 16px;
    position: static;
  }
}

.order-summary h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 16px;
  color: var(--text-dark);
  padding-bottom: 40px;
  color: var(--nav-link);
}

.input-label {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--medium-gray);
  color: var(--nav-link);
}

.padding-top-24px {
  padding-top: 24px;
}

.order-input {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  min-width: 374.4px;
  margin-top: 8px;
  border: 0.5px solid var(--light-gray);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  border-radius: 7px;
  background-color: var(--secondary-color);
  height: 56px;
}

@media only screen and (max-width: 420px) {
  .order-input {
    min-width: 0;
  }
}

.order-input input {
  border: none;
}

.order-input button:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

#input-border {
  border: 0.5px solid var(--light-gray);
  padding: 16px;
  min-width: 374.4px;
  border-radius: 7px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  width: 100%;
  box-sizing: border-box;
}

@media only screen and (max-width: 420px) {
  #input-border {
    min-width: 0;
  }
}

.total-wrapper {
  margin-top: 24px;
}

.subtotal {
  display: flex;
  justify-content: space-between;
}

.black-style-large {
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: var(--nav-link);
}

.black-style-medium {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--nav-link);
}

.gray-style-large {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--nav-link);
}

.tax {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.shipping {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.total {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

input::placeholder {
  color: var(--nav-link);
  opacity: 1;
}

.checkout-btn {
  min-width: 408px;
  padding: 16px 0;
  margin-top: 48px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border: none;
  border-radius: 6px;
  transition: 0.2s ease;
  cursor: pointer;
  background-color: #0f6fdd;
}

.checkout-btn:hover {
  background-color: var(--light-gray);
  color: var(--primary-color);
}

@media only screen and (max-width: 420px) {
  .checkout-btn {
    width: 100%;
    min-width: 0;
  }
}

.empty-cart-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.empty-card-title {
  min-width: 280px;
  margin-top: 48px;
  font-size: 22px;
  line-height: 22px;
  font-weight: 500;
  text-decoration: underline;
}

.empty-logo {
  width: 100%;
  margin-top: 48px;
}

@media only screen and (max-width: 420px) {
  .product-list-wrapper {
    margin-inline: 16px;
  }
}
